JWT_SECRET_KEY=

CLERK_JWKS_URL=
CLERK_AUDIENCE=
CLERK_ISSUER=

MONGO_URI=
MONGO_DB_NAME=supogen

DISCORD_BOT_TOKEN=

FERNET_SECRET_KEY=
MODE="development"
DOMAIN=".your-production-domain.com"

OPENAI_API_KEY=
